.slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.slogan h1 {
  font-family: GT Walsheim, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 0;
}

p {
  color: #333 !important;
}

.slogan h3 {
  margin-bottom: 0;
  color: #7366FE;
}

.images {
  padding-top: 50px;
  padding-bottom: 100px;
}

